/******************* GENERALS *****************/
/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* reset */

body {
 padding-top: 60px;
 font-size: 15px;
 font-family: 'Roboto', sans-serif;
}

h2 {
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul {
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

.ms_bg-grey {
background-color: #f3f5f9;
}

.ms_wrapper75 {
  width: 75%;
  margin: 0 auto;
}

.ms_inline {
  display: inline-block;
}

.ms_section {
  padding: 70px 0;
}

.ms_blue {
  color: #0069ff;
}

.ms_box {
  background-color: white;
  padding: 20px 15px;
  border-radius: 1%;
  text-align: center;
}

.ms_white {
  color: white;
}

.ms_lightgrey {
  color: lightgrey;
}

.ms_grey {
  color: grey;
}
/******************* GENERALS *****************/

/************* HEADER *************/
/* navbar */
.ms_navbar {
  line-height: 60px;
  color: black;
  background-color: white;
}

.ms_navbar ul {
  line-height: 60px;
  width: 100%;
}

.ms_navbar a {
  color: black;
  font-weight: 400;
}

.ms_navbar li {
  display: inline-block;
  margin-right: 4%;
}

.ms_navbar ul li:last-child {
  margin-right: 0;
}

.ms_navbar .ms_button {
  color: #0069ff;
  font-size: 1.15em;
  border: 0.5px solid #0069ff;
}
/* navbar */

/* burger menu */
.ms_burger-menu {
  line-height: 60px;
  font-size: 1.6em;
}

.ms_burger-menu a {
  color: #0069ff;
}
/* burger menu */

/* logo navbar*/
.ms_logo img {
  height: 32px;
}

.ms_logo {
  line-height: 60px;
}
/* logo navbar */

/* sign in button */
.ms_box .btn.btn-default:first-of-type {
  background-color: #0069ff;
}

.ms_box .btn.btn-default , .ms_box span {
  display: block;
}
/* sign in button */

/* jumbotron */
.ms_jumbotron {
  background-image: url('../img/bg-home-1-d54581d7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.ms_jumbotron h1 {
  font-weight: 700;
  font-size: 3em;
}

.ms_jumbotron h2 {
  margin-top: 10px;
}

.ms_jumbotron h3 {
  font-weight: 500;
  font-size: 1.5em;
}
/* jumbotron */

/* form */
input {
  width: 100%;
  border: 0.3px solid lightgrey;
  border-radius: 3%;
  padding: 1%;
}

form .ms_privacy {
  font-size: 12px;
  padding-top: 0.5%;
  font-weight: 400;
}

form .ms_privacy  a {
  text-decoration: underline;
}

form img {
  height: 15px;
}

form .btn.btn-default {
  margin-top: 2%;
  margin-bottom: 2%;
}

form p {
  font-weight: 500;
  margin-bottom: 0;
}
/* form */

/* sponsor partners */
.ms_partners .ms_privacy {
  margin-top: 7%;
}

.ms_partners h3 {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 25px;
}

.ms_images {
  display: flex; /* per far divenare flex-items i figli */
  justify-content: center; /* per posizionare al centro il menu */
}

.ms_partners ul {
  margin: 0;
  padding: 0;
}

.ms_partners li {
  flex-wrap: wrap; /*per far andare a capo le immagini nel responsive */
  display: inline-block;
  padding: 0 10px;
}

.ms_images img {
  width: 150px;
}
/* sponsor partners */
/*************** HEADER ***************/

/************* MAIN ***************/
/* top main */
.ms_top-main h3 {
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 7%;
}

.ms_top-main a {
  color: grey;
}

.ms_top-main li {
  margin: 6% 0;
}

.ms_top-main span {
  font-weight: 500;
}

.ms_top-main img {
  display: block;
  margin-bottom: 5%;
}

.ms_top-main p {
  margin-top: 3%;
}

.ms_border {
  border-left: 2px solid lightgrey;
}

.ms_top-main .ms_wrapper75, .ms_carosello .ms_wrapper75 {
  padding-bottom: 0;
}

.ms_top-main .ms_wrapper75 ul {
  margin-bottom: 15%;
}
/* top main */

/* carosello */
.ms_carosello h3 {
 margin-bottom: 5%;
 font-weight: 400;
}

.ms_box-image {
  display: inline-block;
  width: 40%;
}

.ms_carosello img {
  width: 100%;
  margin-bottom: 3%;
}

.ms_chevron {
  font-size: 2em;
  margin: 0 2%;
}

.ms_chevron a {
  text-decoration: none;
}
/* carosello */

/* features */
.ms_features span {
  font-weight: 500;
}

.ms_features img {
  display: block;
  margin-bottom: 5%;
  margin-top: 10%;
}

.ms_features p {
  margin-top: 3%;
}
/* features */

/* regioni */
.ms_regions , .ms_top-footer {
  background-color: #0069ff;
  color: lightgrey;
}

.ms_regions table {
  width: 100%;
  margin-top: 5%;
}

.ms_regions h2 {
  margin-bottom: 3%;
  color: white;
}

.ms_regions table a {
  color: #01d7d2;
}

.ms_regions table td {
  line-height: 265%;
}

.ms_regions td:last-child {
  text-align: right;
}

.ms_regions td:first-child {
  color: white;
}

.ms_regions table tr {
  border-bottom: 1px solid white;
}

.ms_regions table tr:last-child {
  border-bottom: none;
}
/* regioni */

/* secondo carosello */
.ms_secondo-carosello p {
  font-weight: 500;
}

.ms_secondo-carosello h2 {
  padding-bottom: 3%;
}

.ms_secondo-carosello a {
  font-weight: 400;
}

.ms_secondo-carosello p:last-child {
  margin: 8% 0;
}

.ms_secondo-carosello .ms_slide {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
}

.ms_secondo-carosello .ms_box-image {
  display: inline-block;
  width: 100%;
  background-color: white;
  padding: 5%;
}

.ms_secondo-carosello img {
  width: 100%;
  vertical-align: middle;
  padding-top: 10%;
}
/* secondo carosello */
/*************** MAIN *****************/

/************* FOOTER ***************/
/* top footer */
.ms_top-footer h2 {
  color: white;
  padding-bottom: 2%;
}

.ms_top-footer .ms_button {
  padding: 1%;
  font-size: 1.2em;
  color: #0069ff;
}
/* top footer */

/* bottom footer */
.ms_bottom-footer {
  background-color: #010e28;
}

.ms_bottom-footer img {
  display: block;
  margin-bottom: 2%;
}

.ms_bottom-footer p {
  color: grey;
  margin: 0;
}

.ms_bottom-footer .ms_icons li {
  display: inline-block;
  font-size: 1.3em;
  margin-top: 2.5%;
  margin-right: 2%;
  margin-bottom: 3%;
}

.ms_bottom-footer li:first-child {
  margin-top: 0.5%;
}

.ms_bottom-footer a , .ms_bottom-footer i {
  color: grey;
}

.ms_bottom-footer li {
  font-size: 0.95em;
}
/* bottom footer */
/************* FOOTER ***************/

/************** MEDIA QUERY ***************/
@media screen and (max-width: 768px) {
  .ms_bottom-footer [class*=col-] {
    margin-bottom: 2%;
    margin-left: 2%;
  }
}
